In [29]:
# Train test  in data set

In [24]:
import pandas as pd

In [25]:
dataset=pd.read_csv(r"C:\Users\HP\Downloads\archive (4)\boston.csv")
dataset.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7

In [26]:
dataset.shape

(506, 14)

In [27]:
input_data=dataset.iloc[:,:-1]
input_data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88

In [32]:
output_data=dataset["MEDV"]

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
# splitting data int0 4 parts input,output,train and test

In [35]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.25)

In [ ]:
x_test

In [ ]:
x_train

In [36]:
y_train

496    19.7
113    18.7
56     24.7
325    24.6
40     34.9
       ...
184    26.4
14     18.2
217    28.7
111    22.8
212    22.4
Name: MEDV, Length: 379, dtype: float64

In [37]:
y_test

432    16.1
353    30.1
297    20.3
139    17.8
308    22.8
       ...
11     18.9
379    10.2
23     14.5
21     19.6
226    37.6
Name: MEDV, Length: 127, dtype: float64

In [38]:
x_test.shape

(127, 13)

In [39]:
x_train.shape

(379, 13)

In [ ]:
#use train data when you have to train data and use test data when you have to check the accuracy of the model